.col-sm-6.col-sm-offset-3
  .card
    .card-cards
      %h3= "Front of Card"
      = @deck.cards


      %h3= "Back of Card"
      = @deck.cards
    = link_to "Delete Card", deck_card_path(@deck), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"