.col-sm-6.col-sm-offset-3
  - @deck.cards.each do |card|
    .box.panel.panel-default.show-card-box
      %h3= "Front of Card"
      %p= card.title

      %h3= "Back of Card"
      %p= card.description
      = link_to "Edit Card", edit_deck_card_path(@deck.cards), class: "btn btn-info"