.forms-field 
  %h1= "New Card in the '#{@deck.title}' deck"
  = simple_form_for ([@deck, @deck.cards.build]) do |f|
    .form-group
      = f.input :title, label: "Front of Card"
      = f.input :description, label: "Back of Card"
    = f.submit :submit, class: "btn btn-info"



