= simple_form_for :card, url: deck_cards_path(@deck) do |f|
  .forms-field 
    .form-group
      = f.input :title, label: "Front of Card", input_html: { class: 'form-control' }
    .form-group
      = f.input :description, label: "Back of Card", input_html: { maxlength: '275', class: 'form-control' }

    = f.submit "Submit", class: "btn btn-success"
    = link_to "Back", root_path, class: "btn btn-warning"

    

    
