.col-sm-6.col-sm-offset-3
  .card-clearance
    - if @decks.any? 
      - @decks.each do |deck|
        .panel.panel-default.card-layout
          %h3= link_to deck.title.truncate_words(10), deck_path(deck), class: "deck-title"
          %p= deck.description.truncate_words(20)
          %br
          %br
          %h6= "[ Cards in Deck: #{deck.cards.count} ]"

          .button-on-cards 
            = link_to "Edit Deck", edit_deck_path(deck), class: "btn btn-info"
            = link_to "Delete Deck", deck_path(deck), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"

    -else  
      %h1= link_to "Create Your First Deck", new_deck_path, class: "create-first-deck"
      