.card-clearance
  .center-title
    %h2= @deck.title + ": " + @deck.description

    =link_to 'Practice Deck', deck_card_present_path(@deck.id, 0), class: "btn btn-info"

  %hr
  .new-card-header
    %h3= "Create a New Card in Deck: #{@deck.title}" 
      
  = render "cards/form"
  %br
  
  = render "cards/card"

  