.panel-body

  = render "cards/form" 
  %hr

  %h3= "Update Deck Info"
  = link_to "Edit", edit_deck_path, class: "btn btn-info"
  = link_to "Delete", deck_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
  = link_to "Back", root_path, class: "btn btn-info"
